
<html>
<body CLASS="div">
  <p>Y diganme si es seguro mandar el link del repositorio de git hub por stack overflow así les este proyecto. Y si no
    es seguro puedo copiar y pegar el código de las carpetas de Angular (si es que le sirve de algo para solucionar el
    problema).</p>
  <h1>{{nombrevideo}}</h1>
  <iframe width="560" height="315" src="https://www.bing.com/ck/a?!&&p=05144eec2bef7baeJmltdHM9MTcxMzQ4NDgwMCZpZ3VpZD0yMjVkYzI1MC1kMWM4LTYwOGQtMjQ2OS1kMDkxZDBjOTYxYWEmaW5zaWQ9NTY4Mw&ptn=3&ver=2&hsh=3&fclid=225dc250-d1c8-608d-2469-d091d0c961aa&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZW4lMjBsZW9uJkZPUk09SVFGUkJBJmlkPUM4ODZBQkRCMjRDQTQ2RDNDQjhCNzkxN0FERjcxN0YxREFCMzI2RTU&ntb=1"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
