<body>
<p>Y diganme si es seguro mandar el link del repositorio de git hub por stack overflow así les este proyecto. Y si no es seguro puedo copiar y pegar el código de las carpetas de Angular (si es que le sirve de algo para solucionar el problema).</p>
<h1>{{nombrevideo}}</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0h_srypSheg?si=Ouby2w57EYJobBmP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
